<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution id="CreateImports.contribution1" objectClass="org.eclipse.jdt.core.ICompilationUnit">
			<menu id="CreateImports.menu1" label="Create Imports" path="additions">
				<separator name="group1"></separator>
			</menu>
			<action class="com.fokot.createimports.ZasranaAction" enablesFor="1" id="CreateImports.newAction" label="CreateImports" menubarPath="CreateImports.menu1/group1"></action>
		</objectContribution>
	</extension>
</plugin>